<div id="container-instructions">

	<h1>Eligibility Information</h1>

	<hr />

        <p>
        The information requested on this page will be used only to check your eligibility to participate in this study.
        It will not be used in data analysis nor published with your responses to the remainder of this survey. 
        Your responses in the remainder of this survey will be fully anonymized. 
        </p>

        <hr /> 

	<div class="instructions well">

	  <form id="paymentquestionnaire" action="">
	    <div class="row question">
	      
              <!-- <p>Email:<input type="email" name="email" id="email"/></p> -->

              <!-- <p>CWID:<input type="number" name="cwid" id="cwid"/></p> -->

	      <p>Age:<input type="number" class="age" name="age" id="age" min="18" max="99"/></p>
              
	    </div>
	  </form>


	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


   <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">	      
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
                 <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
