<div id="container-instructions">

	<hr /> 

	<p>The robot is 14 inches tall. ______ can talk and understand what people are saying.</p>
        <form id="d3" action="">
            <input type="radio" name="pronoun_check" id="she" value="she" />
            <label for="she">She</label>
            <br/>
            <br/>
            <input type="radio" name="pronoun_check" id="it" value="it" />
            <label for="it">It</label>
            <br/>
            <br/>
            <input type="radio" name="pronoun_check" id="he" value="he" />
            <label for="he">He</label>
            <br/>
            <br/>
            <input type="radio" name="pronoun_check" id="they" value="they" />
            <label for="they">They</label>
        </form>


	<br/>
	<hr/>
	<br/>
        
	</div>

	<hr />


   <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">	      
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
                 <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
