<div id="container-questionnaire">
 
    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of the robot Sara.
      <span class="response">
	<br/>
       <br/>

  <!-- <div class="instructions well"> -->

    <form id="slider_questions" action="">
    
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Do you think the robot Sara is...</p>
		
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="1" name="1" min="0" max="100">
	</div>
	
	<ul class="range-labels-8" style="list-style: none;">
	  <li><b>Intelligent</b></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li><b>Unintelligent</b></li>
	</ul>
	
	</div><br/><br/>
      </div>     
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <p>Do you think the robot Sara is...</p>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="2" name="2" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li><b>Expert</b></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
 	    <li></li>
	    <li><b>Inexpert</b></li>
	  </ul>	 
	
	</div><br/>
      </div>           
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>Do you think the robot Sara is...</p>
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="3" name="3" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li><b>Just</b></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li><b>Unjust</b></li>
	  </ul>	
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->      
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>Do you think the robot Sara is...</p>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="4" name="4" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li><b>Moral</b></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li><b>Immoral</b></li>
	</ul>
	
	</div><br/>
      </div>      	   	 
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>Do you think the robot Sara is...</p>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="5" name="5" min="0" max="100">
	  </div>

   	  <ul class="range-labels-8" style="list-style: none;">
	    <li><b>Timid</b></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li><b>Bold</b></li>
	  </ul>
	
	</div><br/>
      </div> 	 
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>Do you think the robot Sara is...</p>
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="6" name="6" min="0" max="100">
	  </div>
	  
	  <ul class="range-labels-8" style="list-style: none;">
	    <li><b>Meek</b></li>
	    <li></li>
     	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li><b>Aggressive</b></li>
	  </ul>
	
	</div><br/>
      </div>	      
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>Do you think the robot Sara is...</p>	
	
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="7" name="7" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li><b>Calm</b></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li><b>Anxious</b></li>
	  </ul>
	
	</div><br/>
      </div>
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>Do you think the robot Sara is...</p>
	
	<div class="rangeholder">
	  <input type="range" class='not-clicked' id="8" name="8" min="0" max="100">
	</div>

	<ul class="range-labels-8" style="list-style: none;">
	  <li><b>Cheerful</b></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li><b>Gloomy</b></li>
	</ul>
	
	</div><br/>
      </div>      	     
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>Do you think the robot Sara is...</p>
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="9" name="9" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li><b>Friendly</b></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li><b>Unfriendly</b></li>
	  </ul>	
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>If you were working with the robot Sara, do you feel like the robot Sara would...</p>
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="10" name="10" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li><b>Care about me</b></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li><b>Not care about me</b></li>
	  </ul>	
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  <br/>
	  <p>If you were working with the robot Sara, do you feel like the robot Sara would...</p>
	
	  <div class="rangeholder">	   
	    <input type="range" class='not-clicked' id="11" name="11" min="0" max="100">
	  </div>

	  <ul class="range-labels-8" style="list-style: none;">
	    <li><b>Stand up for me</b></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li><b>Not stand up for me</b></li>
	  </ul>	
	
	</div><br/>
      </div>      	  	      
      <!-- end of a question -->  
      
    </form>
  <!-- </div> -->
  
   
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
