<div id="container-questionnaire">
    <p>
      On the following scales, please click at the point on each line
      which best describes your feeling or impression of the robot Sara.
      <span class="response">
	<br/>
    <br/>

  <!-- <div class="instructions well"> -->

    <form id="slider_questions" action="">
    
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  		<p>Do you think the robot Sara is...</p>
		
			<div class="rangeholder">
				<b class="range-label left">Intelligent</b>
				<input type="range" class='not-clicked' id="1" name="1" min="0" max="100">
				<b class="range-label right">Unintelligent</b>
			</div>
		</div>
		<br/>
		<br/>
      </div>     
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  		<p>Do you think the robot Sara is...</p>
	
			<div class="rangeholder">
				<b class="range-label left">Expert</b>
				<input type="range" class='not-clicked' id="2" name="2" min="0" max="100">
				<b class="range-label right">Inexpert</b>
			</div>

		</div>
		<br/>
		<br/>
      </div>           
      <!-- end of a question -->
      <br/>
      <!-- beginning of a question -->
      <div class="row-question">
        <div class="col-md-8">
	  		<p>Do you think the robot Sara is...</p>
	
			<div class="rangeholder">
				<b class="range-label left">Just</b>	   
				<input type="range" class='not-clicked' id="3" name="3" min="0" max="100">
				<b class="range-label right">Unjust</b>
			</div>
		</div>
		<br/>
		<br/>
	  </div>
	  <br/>
    </form>
  <!-- </div> -->
  
   
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
