<div id="container-instructions">

	<hr />


	<div class="instructions well">
        <p>Can you describe what happened in the video?</p>
        <form id="d1" action="">
                <input type="text" name="event_description" />
        </form>
        
        <br/>
        <hr/>
        <br/>
        
        <p>What did you think about the robot's response to what the student in the video said?</p>
        <form id="d2" action="">
                <input type="text" name="sara_impression" />
        </form>
        
	<br/>
	<hr/>
	<br/>
        
	</div>

	<hr />


   <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">	      
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
                 <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
