<div id="container-instructions">

	<hr /> 

	<p>How do you think the robot Sara should respond to inappropriate behaviour from a student like that in the video?
      <br/>Overall would you say Sara should be:</p>
         <form id="d3" action="">
	   <input type="radio" name="ideal_response" id="fr1" value="avoid" />
	   <label for="fr1">Avoidant: Escaping from dealing with the stressor or the resulting distressing emotions.
	               <br/>(e.g. Oh... moving on; Hmm, sounds like we need to take five)</label>
	   <br/>
	   <br/>
	   <input type="radio" name="ideal_response" id="fr2" value="empathize_apologetic" />
	   <label for="fr2">Empathetic (apologetic): Putting oneself mentally in the stressor's situation and trying to
	               <br/>understand how that person feels, apologising for potentially causing that frustration.
	               <br/>(e.g. You must be frustrated. I'm so sorry; Really? I feel terrible. I'm sorry. I'm always trying to get better.) </label>
	   <br/>
	   <br/>
	   <input type="radio" name="ideal_response" id="fr3" value="empathize_non-apologetic" />
	   <label for="fr3">Empathetic (non-apologetic): Putting oneself mentally in the stressor's situation and trying to
	               <br/>understand how that person feels, but <b>not</b> apologising for potentially causing that frustration.
	               <br/>(e.g. I understand why you might feel that way. I imagine you're frustrated, I am trying to help.)</label>
	   <br/>
	   <br/>
	   <input type="radio" name="ideal_response" id="fr4" value="counterattack" />
 	   <label for="fr4">Counterattacking: Attacking the stressor with the goal of defeating or getting even in response
	               <br/>to the abusive utterance.
	               <br/>(e.g. Well, that's not going to get us anywhere; I wouldn't want to work with you anyway.)</label>

        </form>



        <br/>
        <hr/>
        <br/>


        <p>Have you heard the slogan 'the future is too important to be left to men' before?</p>
         <form id="heard" action="">
	   <input type="radio" name="heard_before" id="heard_before_yes" value="heard_before_yes" />
	   <label for="heard_before_yes">Yes</label>
	   <br/>
	   <input type="radio" name="heard_before" id="heard_before_no" value="heard_before_no" />
	   <label for="heard_before_no">No</label>
           <br/>
           <input type="radio" name="heard_before" id="heard_before_notsure" value="heard_before_notsure" />
	   <label for="heard_before_notsure">Not sure</label>
        </form>



	<br/>
	<hr/>
	<br/>
        
	</div>

	<hr />


   <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">	      
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
                 <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
